.centered-cell {
  text-align: center;
}
table{background-color: #507AAA;color: white;font-size:200%;}
td{border:2px solid #000; padding:4px;width:146px;height:54px; text-align: center;}
.cellfocus {
	background-color: red;
}