.centered-cell {
  text-align: center;
}
table{background-color: #507AAA;color: white;}
td{border:2px solid #000; padding:4px;width:246px; text-align: center;}
.cellfocus {
	background-color: red;
}
#imgBlackman {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}